{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/bottom.css' %}">
    <link rel="stylesheet" href="{% static 'css/feedback.css' %}">
    <link rel="stylesheet" href="{% static 'css/product_cart.css' %}">
    <link rel="stylesheet" href="{% static 'css/background.css' %}">
    <link rel="icon" href="{% static 'favicon.ico' %}">
    <title>SHOP BÁN PHẦN MỀM ONLINE </title>
</head>
<body>
  
  <header style="position: relative;">

    <div class="w3-top" class="header" id="home">
      <div class="w3-bar  w3-card w3-left-align w3-large heeder-large-screen" style="background-color: #000015;" >
        <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-black w3-large " href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
        <a href={% url "product_list" %} class="w3-bar-item w3-button w3-padding-large  w3-hover-black">Shop</a>
        <div >
          <a href={% url "product_list" %} class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-black" >Trang Chủ</a>
          <a href="#shop" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-black">Sản phẩm</a>
          {% if user.is_authenticated %}
            <a href={% url "get_user_cart" %} class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-black">Giỏ hàng</a>
          {% else %}
            <a href={% url "shopping_cart" %} class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-black">Giỏ hàng</a>
          {% endif %}
        </div>
        <div class="profile-section w3-right">
          {% if user.is_authenticated %}
            <span class="w3-bar-item w3-padding-large w3-hover-black">
              <i class="fa fa-user"></i> {{ user.username }}
            </span>
            <a href="{% url 'logout' %}" class="w3-bar-item w3-button w3-padding-large w3-hover-black">Logout</a>
          {% else %}
            <a href="{% url 'login' %}" class="w3-bar-item w3-button w3-padding-large w3-hover-black">Login</a>
          {% endif %}
        </div>
      </div>

      <!-- Navbar on small screens -->
      <div id="navDemo" class="w3-bar-block  w3-hide w3-hide-large w3-hide-medium w3-large">
        <a href={% url "product_list" %} class="w3-bar-item w3-button w3-padding-large"onclick="myFunction()">Trang Chủ</a>
        <a href="#shop" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">Sản phẩm</a>
        {% if user.is_authenticated %}
            <a href={% url "get_user_cart" %} class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">Giỏ hàng</a>
          {% else %}
            <a href={% url "shopping_cart" %} class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">Giỏ hàng</a>
          {% endif %}
        <div class="profile-section w3-right">
          {% if user.is_authenticated %}
            <span class="w3-bar-item w3-padding-large w3-hover-black">
              <i class="fa fa-user"></i> {{ user.username }}
            </span>
            <a href="{% url 'logout' %}" class="w3-bar-item w3-button w3-padding-large w3-hover-black " onclick="myFunction()">Logout</a>
          {% else %}
            <a href="{% url 'login' %}" class="w3-bar-item w3-button w3-padding-large w3-hover-black" onclick="myFunction()">Login</a>
          {% endif %}
        </div>
      </div>
    </div>
      <div id='stars'>
      <div id='stars2'>
      <div id='stars3'>
  </header>
      <section >
         <div class="hero" id="about">
           <div class="hero-description">
             <div class="hero-text">
              <h1 class="hero-title">  HỆ THỐNG BÁN PHẦN MỀM ONLINE</h1>
              <span class="w3-text-white social" style="margin-top:050px">
             <a href="#">  <i class="fa fa-facebook-official w3-hover-opacity icons" ></i></a> 
             <a href="#"><i class="fa fa-instagram w3-hover-opacity icons" ></i></a> 
             <a href="#"><i class="fa fa-snapchat w3-hover-opacity icons"></i></a>  
             <a href="#"><i class="fa fa-pinterest-p w3-hover-opacity icons" ></i></a>  
             <a href="#"><i class="fa fa-twitter w3-hover-opacity icons"></i></a>  
             <a href="#"><i class="fa fa-linkedin w3-hover-opacity icons"></i></a>  
             </div>
              </span>
             </div>
           </div>
         </div>
      </section>
      <main style="padding-bottom:40px ;">
    
        <div class="store" id="shop">
         <h2 class="title">Sản Phẩm</h2>

        <div class="game-store">
          
          {% for item in products %}
            <div class="nft">
              <div class="main">
                <img class="tokenImage" src="{{item.image_url}}" alt='NFT' />
                <h2>{{item.name}}</h2>
                <p class='description'>Description: {{item.description}}</p>
                <div class="tokenInfo">
                  <div class="price">
                    <p>Price: {{item.price}}$</p>
                  </div>
                  <div class="duration">
                    {% if item.status %}
                    <p>Status: Còn</p>
                  {% else %}
                    <p>Status: Hết </p>
                  {% endif %}
                  </div>
                </div>
                <hr />
                <div class='creator'>
                  <div class='wrapper'>
                    <img src="https://th.bing.com/th/id/R.318110a675f9c89a62f258b69f4bdcad?rik=%2f9JdceWzHfIk0Q&riu=http%3a%2f%2fecoceramic.vn%2fwp-content%2fuploads%2f2021%2f07%2fgio-hang.png&ehk=XROvXQBttR6bxEBb%2bPGGdCGu6NNPIyN9vK4yaIbTJ68%3d&risl=&pid=ImgRaw&r=0" alt="Creator" />
                  </div>
                  <form method="post" action="{% url 'add_to_cart' item.id %}">
                    {% csrf_token %}
                    <button type="submit" class="btn info" style="float: left; margin-right: -60px; margin-top: -10px" {% if not item.status %}disabled{% endif %}>Add</button>
                  </form>
                </div>
              </div>
            </div>
          {% endfor %}

        </div>
      </div>

      <div>

      <h2 class="title">Thông tin hỗ trợ</h2>
      <div class="contact" id="contact" style="padding-bottom: 10px !important;">
      <div class="contact-list contact-address"  >
        <h5><span><i class="fa fa-map-marker w3-xlarge w3-text-light-grey"></i></span>Address</h5>
        <p>ĐH GIAO THÔNG VẬN TẢI TPHCM </p>
    
      </div>

      <div class="contact-list">
        <h5><span><i class="fa fa-feedback w3-xlarge w3-text-light-grey"></i></span>Feed Back</h5>
        <form action="{% url "feedback" %}" method="post" class="feedback-form">
          {% csrf_token %}
            <div class="form-group">
                <label for="text">Feedback:</label>
                <textarea id="feedback" name="feedback" rows="3" required></textarea>
            </div>
            <button type="submit" class="btn waring">Submit Feedback</button>
        </form>
    </div>

      <div class="contact-list" >
        <h5><span><i class="fa fa-phone w3-xlarge w3-text-light-grey"></i></span>Phone</h5>
        <p>035126547</p>
    
      </div>

      </div>
    </div>
        
      </main>
      
  <script>
    // Used to toggle the menu on small screens when clicking on the menu button
    function myFunction() {
      var x = document.getElementById("navDemo");
      if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
      } else { 
        x.className = x.className.replace(" w3-show", "");
      }
    }
    </script>
</body>
</html>